<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="d-flex align-items-center">
        <img [src]="preview" alt="" class="avatar-sm rounded">
        <div class="ms-3 flex-grow-1">
          <h5 class="mb-2 card-title">{{userProfile.name}}</h5>
          <p class="text-muted mb-0">{{userProfile.country}}</p>
        </div>
        <!--<div>
          <a href="javascript:void(0);" class="btn btn-primary"><i class="bx bx-plus align-middle"></i> Add New Jobs</a>
        </div>-->
      </div>
    </div><!--end col-->
  </div><!--end row-->

  <div class="row">
    <div class="col-lg-3">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-grow-1">
              <p class="text-muted fw-medium">My Clients</p>
              <h4 class="mb-0">{{userProfile?.clients?.length}}</h4>
            </div>

          </div>
        </div>
        <div class="card-body border-top py-3">
          <p class="mb-0"> <span class="badge badge-soft-success me-1"><i class="bx bx-trending-up align-bottom me-1"></i> 0%</span> Increase last month</p>
        </div>
      </div>
    </div><!--end col-->
    <div class="col-lg-3">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-grow-1">
              <p class="text-muted fw-medium">My Projects</p>
              <h4 class="mb-0">{{userProfile?.projects?.length}}</h4>
            </div>

          </div>
        </div>
        <div class="card-body border-top py-3">
          <p class="mb-0"> <span class="badge badge-soft-success me-1"><i class="bx bx-trending-up align-bottom me-1"></i> 0%</span> Increase last month</p>
        </div>
      </div>
    </div><!--end col-->
    <div class="col-lg-3">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-grow-1">
              <p class="text-muted fw-medium">Subscription</p>
              <h5 class="mb-0">{{subcription?.package?.name}}</h5>
            </div>

            <div class="flex-shrink-0 align-self-center">

            </div>
          </div>
        </div>
        <div class="card-body border-top py-3">
          <p class="mb-0"> <span class=""><i class="bx bx-trending-up align-bottom me-1"></i> Due Date: </span> {{subcription?.due_date | date:'medium'}}</p>
        </div>
      </div>
    </div><!--end col-->
    </div><!--end col-->
  </div><!--end row-->
