::ng-deep .subscription-payment-modal-class .modal-dialog {
  max-width: 80%;
  width: 80%;
}

::ng-deep .manage-projects-modal-class .modal-dialog {
  max-width: 95%;
  width: 95%;
}

::ng-deep .project-report-modal-class .modal-dialog {
  max-width: 100%;
  width: 100%;
}

