<!-- Modern BBS Sidebar -->
<ng-template #contentTemplate>
  <div id="sidebar-menu" class="bbs-sidebar-menu">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <div class="sidebar-brand">
        <i class="bx bx-building-house"></i>
        <span>BBS Platform</span>
      </div>
    </div>

    <!-- Navigation Menu -->
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <ng-container *ngFor="let item of menuItems">
        <!-- Menu Title -->
        <li class="menu-title" *ngIf="item.isTitle">
          <span class="title-text">{{ item.label | translate }}</span>
        </li>
        
        <!-- Menu Item -->
        <li *ngIf="!item.isTitle && !item.isLayout" class="menu-item">
          <!-- Parent Menu Item -->
          <a *ngIf="hasItems(item)" href="javascript:void(0);" class="menu-link parent-link"
             [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}">
            <div class="menu-icon">
              <i class="bx {{item.icon}}" *ngIf="item.icon"></i>
            </div>
            <div class="menu-content">
              <span class="menu-text">{{ item.label | translate }}</span>
              <span class="badge rounded-pill bg-{{item.badge.variant}}" *ngIf="item.badge">
                {{item.badge.text | translate}}
              </span>
            </div>
            <div class="menu-arrow">
              <i class="bx bx-chevron-right"></i>
            </div>
          </a>

          <!-- Single Menu Item -->
          <a [routerLink]="item.link" *ngIf="!hasItems(item)" class="menu-link single-link" 
              routerLinkActive="active">
            <div class="menu-icon">
              <i class="bx {{ item.icon }}" *ngIf="item.icon"></i>
            </div>
            <div class="menu-content">
              <span class="menu-text">{{ item.label | translate }}</span>
              <span class="badge rounded-pill bg-{{item.badge.variant}}" *ngIf="item.badge">
                {{item.badge.text | translate}}
              </span>
            </div>
          </a>

          <!-- Submenu -->
          <ul *ngIf="hasItems(item)" class="sub-menu" aria-expanded="false">
            <li *ngFor="let subitem of item.subItems" class="submenu-item">
              <!-- Single Submenu Item -->
              <a [routerLink]="subitem.link" *ngIf="!hasItems(subitem)" class="submenu-link"
                 [attr.data-parent]="subitem.parentId" routerLinkActive="active">
                <div class="submenu-icon">
                  <i class="bx bx-circle" *ngIf="!subitem.icon"></i>
                  <i class="bx {{subitem.icon}}" *ngIf="subitem.icon"></i>
                </div>
                <span class="submenu-text">{{ subitem.label | translate}}</span>
                <span class="badge rounded-pill bg-{{subitem.badge.variant}}" *ngIf="subitem.badge">
                  {{subitem.badge.text | translate}}
                </span>
              </a>
              
              <!-- Parent Submenu Item -->
              <a *ngIf="hasItems(subitem)" class="submenu-link parent-submenu" href="javascript:void(0);"
                 [attr.data-parent]="subitem.parentId">
                <div class="submenu-icon">
                  <i class="bx bx-circle" *ngIf="!subitem.icon"></i>
                  <i class="bx {{subitem.icon}}" *ngIf="subitem.icon"></i>
                </div>
                <span class="submenu-text">{{ subitem.label | translate}}</span>
                <div class="submenu-arrow">
                  <i class="bx bx-chevron-right"></i>
                </div>
              </a>
              
              <!-- Sub-submenu -->
              <ul *ngIf="hasItems(subitem)" class="sub-submenu mm-collapse" aria-expanded="false">
                <li *ngFor="let subSubitem of subitem.subItems" class="sub-submenu-item">
                  <a [attr.data-parent]="subSubitem.parentId" [routerLink]="subSubitem.link" 
                     routerLinkActive="active" class="sub-submenu-link">
                    <div class="sub-submenu-icon">
                      <i class="bx bx-circle"></i>
                    </div>
                    <span class="sub-submenu-text">{{ subSubitem.label | translate }}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-template>

<!-- Sidebar Container -->
<div class="vertical-menu bbs-vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div *ngIf="!isCondensed" class="sidebar-content">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
    <div *ngIf="isCondensed" class="sidebar-content condensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </ngx-simplebar>
</div>
