<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="font-style: oblique; font-size: 16px; color: darkblue; font-weight: bold;">
              <a href="javascript:void(0);" (click)="sendEmail('sales@invic.co.tz')"> <i class="bx bx-support"></i>sales@invic.co.tz </a>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                  {{year}} © INVIC
                </div>
            </div>
        </div>
    </div>
</footer>
