<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="font-style: normal; font-size: 16px; color: darkblue; font-weight: bold;">
              <i class="bx bx-mail-send"></i>
              <a href="javascript:void(0);" (click)="sendEmail('sales@invic.co.tz')"> info@invic.co.tz </a> |
              <a href="javascript:void(0);" (click)="sendEmail('sales@invic.co.tz')"> sales@invic.co.tz </a>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                  {{year}} © INVIC
                </div>
            </div>
        </div>
    </div>
</footer>
