<div class="modal-body" *ngIf="showPaymentPanel">
  <div class="row">

    <div class="col-md-7">

      <div class="col-md-12">
        <div class="card shadow-sm border-0">
          <div class="card-header bg-default text-white text-center">
            <h5 class="mb-0">Invoice Summary</h5>
          </div>
          <div class="card-body p-4">
            <table class="table table-borderless mb-0">
              <tr>
                <td>Package: {{packageSubscription.package.name}}</td>
                <td>Amount Billed: {{packageSubscription.total_amount_billed}}</td>
              </tr>
              <tr>
                <td>Subscription Period: {{packageSubscription.total_months}}</td>
                <td>Created Date: {{packageSubscription.created_at | date:'mediumDate'}}</td>
              </tr>
             <!-- <tr>
                <td class="fw-bold">Status:
                  <span class="badge" [ngClass]="{
              'bg-success': packageSubscription.paid_status == 1,
              'bg-warning': packageSubscription.paid_status == 0,
              'bg-danger': packageSubscription.paid_status == 0
            }">{{packageSubscription.paid_status}}</span>
                </td>
              </tr>-->
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <iframe
          [src]="url"
          width="100%"
          height="500px"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </div>

    </div>

  </div>
</div>

<div class="modal-body" *ngIf="showFailedPanel">
  <div class="row">

    <div class="col-md-7">

      <div class="col-md-12">
        <div class="card shadow-sm border-0">
          <div class="card-header bg-default text-white text-center">
            <h5 class="mb-0">Invoice Summary</h5>
          </div>
          <div class="card-body p-4">
            <table class="table table-borderless mb-0">
               <tr>
                 <td class="fw-bold" colspan="2">
                   <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
<!--                   <span class="badge" [ngClass]="'bg-danger'">{{ error }}</span>-->
                 </td>
               </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="modal-body" *ngIf="showSuccessPanel">
  <div class="row">

    <div class="col-md-7">

      <div class="col-md-12">
        <div class="card shadow-sm border-0">
          <div class="card-header bg-default text-white text-center">
            <h5 class="mb-0">Invoice Summary</h5>
          </div>
          <div class="card-body p-4">
            <table class="table table-borderless mb-0">
              <tr>
                <td>Package: {{packageSubscription.package.name}}</td>
                <td>Amount Billed: {{packageSubscription.total_amount_billed}}</td>
              </tr>
              <tr>
                <td>Subscription Period: {{packageSubscription.total_months}}</td>
                <td>Created Date: {{packageSubscription.created_at | date:'mediumDate'}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Status:
                  <span class="badge" [ngClass]="'bg-success'">Completed</span>
                </td>
                <td>Paid Date Date: {{packageSubscription.paid_date | date:'mediumDate'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>



<div class="card-body" style="text-align: center" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
